.pagination-section {
  margin: 60px 0;
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.page {
  color: var(--cl-black);
  padding: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.page:hover {
  transform: scale(140%);
}

.page.active {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cl-accent);
  color: var(--cl-white);
  width: 40px;
  height: 40px;
  border-radius: 5px;
  transform: none;
}

.page-btn {
  cursor: pointer;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: var(--cl-secondary);
  &.next {
    margin-left: 6px;
  }
  &.prev {
    margin-right: 6px;
  }
}

.page-btn:hover {
  background-color: var(--hw-color);
}
